#sqare-1{ animation: routate_v1 3s ease 0s 1 forwards; }
#sqare-2{ animation: routate_v1 3s ease 0.3s 1 forwards; }
#sqare-3{ animation: routate_v2 3s ease 1s 1 forwards; }
#sqare-4{ animation: routate_v2 3s ease 1.3s 1 forwards; }

#type-1{ animation: type_1 2s ease 4.5s 1 forwards; }
#type-2{ animation: type_1 2s ease 5s 1 forwards; }
#type-3{ animation: type_1 2s ease 5.5s 1 forwards; }

.css-animation-fadein{animation: type_2 2s ease 5s 1 forwards;}
